<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />

  <script>
    var WebConfigs = {
      ROOT: "",
    };
    var k3lotteryrates = {
      typeid: "k3",
      rates: {
        k3ethfx: {
          playid: "k3ethfx",
          rate: "11.000",
          title: "二同号复选",
          id: "156",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "11.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "从11-66中任选1个或多个号码，选号与奖号(包含11-66，不限顺序)相同，即为中奖（不含豹子）。赔率12.60倍。",
          isopen: "1",
        },
        k3ethdx: {
          playid: "k3ethdx",
          rate: "51.000",
          title: "二同号单选",
          id: "181",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "51.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "选择1对相同号码和1个不同号码投注，选号与奖号相同，即为中奖。赔率63.00倍。",
          isopen: "1",
        },
        k3ebthbz: {
          playid: "k3ebthbz",
          rate: "6.000",
          title: "二不同号标准",
          id: "157",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "6.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "从1-6中任选2个或多个号码，所选号码与开奖号码任意2个号码相同，即为中奖。赔率6.30倍。",
          isopen: "1",
        },
        k3sthdx: {
          playid: "k3sthdx",
          rate: "180.000",
          title: "三同号单选",
          id: "159",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "180.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "对相同的三个号码(111、222、333、444、555、666)中的任意一个或多个进行投注，所选号码开出，即为中奖。赔率189.00倍。",
          isopen: "1",
        },
        k3sthtx: {
          playid: "k3sthtx",
          rate: "31.000",
          title: "三同号通选",
          id: "160",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "31.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "对所有相同的三个号码(111、222、333、444、555、666)进行投注，任意号码开出，即为中奖。赔率31.50倍。",
          isopen: "1",
        },
        k3sbthbz: {
          playid: "k3sbthbz",
          rate: "28.000",
          title: "三不同号标准",
          id: "161",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "28.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "从1-6中任选3个或多个号码,所选号码与开奖号码的3个号码相同,即为中奖。赔率31.50倍。",
          isopen: "1",
        },
        k3slhtx: {
          playid: "k3slhtx",
          rate: "8.000",
          title: "三连号通选",
          id: "163",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "8.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "对所有的3个相连号码(123、234、345、456)进行投注，任意号码开出，即为中奖。赔率7.87倍。",
          isopen: "1",
        },
        k3slhdx: {
          playid: "k3slhdx",
          rate: "31.000",
          title: "三连号单选",
          id: "164",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "31.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark: "",
          isopen: "0",
        },
        k3hz3: {
          playid: "k3hz3",
          rate: "180.000",
          title: "和值3",
          id: "165",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "180.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz4: {
          playid: "k3hz4",
          rate: "60.000",
          title: "和值4",
          id: "166",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "60.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz5: {
          playid: "k3hz5",
          rate: "29.500",
          title: "和值5",
          id: "167",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "29.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz6: {
          playid: "k3hz6",
          rate: "18.500",
          title: "和值6",
          id: "168",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "18.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz7: {
          playid: "k3hz7",
          rate: "12.000",
          title: "和值7",
          id: "169",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "12.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz8: {
          playid: "k3hz8",
          rate: "9.500",
          title: "和值8",
          id: "170",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "9.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz9: {
          playid: "k3hz9",
          rate: "8.000",
          title: "和值9",
          id: "171",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "8.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz10: {
          playid: "k3hz10",
          rate: "7.500",
          title: "和值10",
          id: "172",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "7.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz11: {
          playid: "k3hz11",
          rate: "7.500",
          title: "和值11",
          id: "173",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "7.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz12: {
          playid: "k3hz12",
          rate: "8.000",
          title: "和值12",
          id: "174",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "8.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz13: {
          playid: "k3hz13",
          rate: "9.500",
          title: "和值13",
          id: "175",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "9.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz14: {
          playid: "k3hz14",
          rate: "12.000",
          title: "和值14",
          id: "176",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "12.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz15: {
          playid: "k3hz15",
          rate: "18.500",
          title: "和值15",
          id: "177",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "18.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz16: {
          playid: "k3hz16",
          rate: "29.500",
          title: "和值16",
          id: "178",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "29.500",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz17: {
          playid: "k3hz17",
          rate: "60.000",
          title: "和值17",
          id: "179",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "60.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hz18: {
          playid: "k3hz18",
          rate: "180.000",
          title: "和值18",
          id: "180",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "180.000",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hzbig: {
          playid: "k3hzbig",
          rate: "1.980",
          title: "和值大",
          id: "336",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "1.980",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hzsmall: {
          playid: "k3hzsmall",
          rate: "1.980",
          title: "和值小",
          id: "335",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "1.980",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hzodd: {
          playid: "k3hzodd",
          rate: "2.100",
          title: "和值单",
          id: "334",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "2.100",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
        k3hzeven: {
          playid: "k3hzeven",
          rate: "2.100",
          title: "和值双",
          id: "333",
          typeid: "k3",
          totalzs: "1",
          maxjj: "",
          minjj: "",
          maxrate: "2.100",
          minrate: "0.000",
          maxzs: "1",
          minxf: "2.00",
          maxxf: "500000.00",
          maxprize: "30000.00",
          remark:
            "猜3个开奖号相加的和，3-10为小，11-18为大。赔率1.950-189.00倍。",
          isopen: "1",
        },
      },
    };
  </script>
  <script>
    var lotteryinfo = {
      id: "171",
      typeid: "k3",
      title: "5 phút nhanh",
      ftitle: "5 phút 1 vấn đề",
      firsttime: null,
      endtime: null,
      qishu: "288",
      name: "f5k3",
      ftime: "60",
      isopen: "1",
      issys: "1",
      closetime1: "00:00:00",
      closetime2: "23:59:00",
      expecttime: "5",
      iswh: "0",
      allsort: "0",
      listorder: "171",
    };
  </script>
  <title>Macau</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <link
      rel="shortcut icon"
      href="/images/17-49-48-625.png"
      type="image/x-icon"
    /> -->

  <!-- <script type="text/javascript">
      var jq = $.noConflict();
    </script> -->

  <script type="text/javascript" src="/js/artDialog.js"></script>
  <script type="text/javascript" src="/js/jquery-1-9-1.js"></script>
  <script type="text/javascript" src="/js/layer_mobile.js"></script>

  <script type="text/javascript" src="/js/zepto.js"></script>
  <script type="text/javascript" src="/js/fx.js"></script>
  <script type="text/javascript" src="/js/sm.min.js"></script>
  <script type="text/javascript" src="/js/sm-extend.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/slideupdown.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/way.min.js" charset="utf-8"></script>

  <link href="/css/dark.css" rel="stylesheet" />
  <link href="css/app.21328c5b.css" rel="stylesheet" />
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css" />
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css" />
  <link rel="stylesheet" href="/css/bet/k3/k3.css" />
  <link rel="stylesheet" href="/css/icon.css" />
  <link rel="stylesheet" href="/css/bet/k3/reset.css" />
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css" />
  <link rel="stylesheet" href="/5d/css/chunk2.css" />

  <link href="/css/dark.css" rel="stylesheet" />
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }

    .d-none {
      display: none !important;
    }

    .game-list .list .hb .item .goItem .numberLi .num[data-v-03b808c2] {
      position: absolute;
      background-color: #3c5ef6;
      width: 0.32rem;
      height: 0.32rem;
      color: #fff;
      border-radius: 0.32rem;
      font-size: 0.26667rem;
      top: -0.16rem;
      right: -0.16rem;
    }

    .game-list .list .hb .item .goItem .numberLi[data-v-03b808c2] {
      width: 0.53333rem;
      height: 0.53333rem;
      position: relative;
    }

    .display-none {
      display: none;
    }
  </style>
</head>

<body style="font-size: 12px">
  <div id="app">
    <div data-v-03b808c2="" class="mian game page page-current">
      <header class="bar bar-nav theme-red">
        <a class="button button-link button-nav pull-left bar-nav-top-left" href="/home"
          onclick="location.href='/home'">
          <img src="/images/button-back.png" style="margin: 12px 15px; width: 20px; height: 20px" />
        </a>

        <div class="choice_lottery_playdetail_left" style="margin-left: -2.5rem; border:0;">
          <!-- <a class="choice_playName" href="#">Hòa hợp</a>
          <i class="iconfont icon-sanjiaoxing" style="
                color: #f0c930;
                transform: rotate(180deg);
                transition: 0.6s;
              "></i> -->
        </div>
        <div class="newcode">
          <div style="float: left; margin-left: 0rem; font-size: 14px" id="my_tz">
            Đặt cược của tôi
            <div class="activetz"></div>
          </div>
          <div style="
                float: left;
                margin-left: 0.4rem;
                font-size: 14px;
                color: #999999;
              " id="tz_jl">
            Hồ sơ cá cược
            <div></div>
          </div>
          <div style="float: left; margin-left: 8%; font-size: 15px;">
            <span class="smallmoney">42807.00$</span>
            <div></div>
          </div>

          <!--i class="iconfont icon-shuaxin am-fr my_home_refresh refresh_money" style="display: block;"></i-->
          <div style="clear: both"></div>
        </div>
        <div class="tz_read">
          <table border="0" class="newtable">
            <tbody>
              <tr>
                <th style="color: #fff; text-align: center">Số cá cược</th>
                <th style="color: #fff; text-align: center; width: 30%">
                  Cá cược
                </th>
                <th style="color: #fff; text-align: center; width: 20%">
                  Thưởng
                </th>
                <th style="color: #fff; text-align: center; width: 20%">
                  Vận hành
                </th>
              </tr>
            </tbody>
          </table>
          <div id="query-result">
            <div id="jiaz" style="text-align: center"></div>
          </div>
        </div>
      </header>
      <div class="body-sicbo content page-group native-scroll">
        <div class="play_select_container yyplay_select_container" style="display: none">
          <!-- 玩法切换 -->
          <div class="play_select_insert" id="j_play_select">
            <ul class="play_select_tit" style="
                  display: grid;
                  grid-template-columns: auto auto auto;
                  gap: 20px;
                  align-items: center;
                  justify-content: center;
                ">
              <li lottery_code="k3hzzx" parent_code="f5k3" class="curr lottery_1" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Và giá trị</a>
                <p class="ypeil">1.980-180.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>+
                  <span class="dice dice2"></span>+
                  <span class="dice dice3"></span>
                </p>
              </li>
              <li lottery_code="k3sthtx" parent_code="f5k3" class="lottery_3" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Ba trong số cùng một lựa chọn chung</a>
                <p class="ypeil">Tỷ lệ31.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                </p>
              </li>
              <li lottery_code="k3sthdx" parent_code="f5k3" class="lottery_5" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Ba đài phát thanh cùng số</a>
                <p class="ypeil">Tỷ lệ180.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                </p>
              </li>
              <li lottery_code="k3sbthbz" parent_code="f5k3" class="lottery_7" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">ba số khác nhau</a>
                <p class="ypeil">Tỷ lệ28.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice2"></span>
                  <span class="dice dice3"></span>
                  <span class="dice dice5"></span>
                </p>
              </li>
              <li lottery_code="k3slhtx" parent_code="f5k3" class="lottery_9" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Ba số liên tiếp</a>
                <p class="ypeil">Tỷ lệ8.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice2"></span>
                  <span class="dice dice3"></span>
                </p>
              </li>
              <li lottery_code="k3ethfx" parent_code="f5k3" class="lottery_11" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Ba số liên tiếp</a>
                <p class="ypeil">Tỷ lệ11.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                  <span class="dice dice3"></span>
                </p>
              </li>
              <li lottery_code="k3ethdx" parent_code="f5k3" class="lottery_13" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Hai đài có cùng số</a>
                <p class="ypeil">Tỷ lệ51.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice1"></span>
                  <span class="dice dice3"></span>
                </p>
              </li>
              <li lottery_code="k3ebthbz" parent_code="f5k3" class="lottery_15" style="width: 100%; height: 110px">
                <a href="javascript:void(0)" class="lineMore-item">Hai số khác nhau</a>
                <p class="ypeil">Tỷ lệ6.000Bội số</p>
                <p class="ysaizi">
                  <span class="dice dice1"></span>
                  <span class="dice dice4"></span>
                  <span class="dice dice4"></span>
                </p>
              </li>
            </ul>
          </div>
          <!-- 玩法切换 -->
        </div>
        <div class="row no-gutter text-center Betting_Issue_CountDown" style="height: 70px; margin-top: 0rem">
          <dl class="col-50 cz_openNumb" style="margin-top: 0.2rem">
            <dt style="font-size: 14px">
              <i class="f_lottery_info_lastnumber red" id="f_lottery_info_lastnumber"
                way-data="showExpect.lastFullExpect">20230706259</i><span id="issueText">Trông</span>
            </dt>
            <dd style="font-size: 20px; padding: 0; margin: 0">
              <!--i class="openNum_list red" id="openNum_list">
					<t way-data="showExpect.openCode1">-</t>
					<t way-data="showExpect.openCode2">-</t>
					<t way-data="showExpect.openCode3">-</t>
					</i-->
              <!-- <ul id="openNum_list" class="cz_show">
                  <li class="open_numb_6" style="color: #eee0"></li>
                  <li class="open_numb_6" style="color: #eee0"></li>
                  <li class="open_numb_5" style="color: #eee0"></li>
                 
                </ul> -->
              <div class="result-sicbo cz_show">
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
                <span class="icon icon-caret" style="color: #999"></span>
              </div>
            </dd>
          </dl>
          <dl class="col-50" style="color: #caebda; margin-top: 0.2rem">
            <dt style="font-size: 14px">
              <i class="f_lottery_info_number red" id="f_lottery_info_number"
                way-data="showExpect.currFullExpect">20230706260</i>Hạn chót
            </dt>
            <dd style="font-size: 20px; padding: 0; margin: 0">
              <i class="j_lottery_time red" id="j_lottery_time">
                <t class="hh bj"><span way-data="gametimes.h" style="color: #f30c0c">00</span></t>
                <em>:</em>
                <t class="mm bj"><span way-data="gametimes.m" style="color: #f30c0c">03</span></t>
                <em>:</em>
                <t class="ss bj"><span way-data="gametimes.s" style="color: #f30c0c">15</span></t>
              </i>
            </dd>
          </dl>
        </div>
        <!-- <div class="top-body__sicbo">
            <div class="number-sicbo time-box">
              <div class="number-sicbo__result info">
                <div class="number-content">
                  <span class="number" id="period"></span> Kỳ số mở thưởng
                </div>
              </div>
              <div class="result-sicbo">
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
                <div data-v-03b808c2="" class="slot-column">
                  <div data-v-03b808c2="" class="slot-transform">
                    <div data-v-03b808c2="" class="slot-num"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="time-sicbo">
              <div class="session-next">
                <div class="number-sicbo__next">
                  <span class="number" id="period-next"></span> Đếm ngược
                </div>
              </div>
              <div data-v-03b808c2="" class="flex-row-end">
                <div data-v-03b808c2="" class="li-item">0</div>
                <div data-v-03b808c2="" class="li-item">0</div>
                <span data-v-03b808c2="" class="li-symbol">:</span>
                <div data-v-03b808c2="" class="li-item">0</div>
                <div data-v-03b808c2="" class="li-item">0</div>
              </div>
            </div>
          </div> -->
        <!-- <p class="remark" style="color: #fff">
                    Đoán tổng của ba số xổ số, 3-10 là nhỏ, 11-18 là lớn.
                  </p> -->

        <!-- <div class="total-money">
            <div class="money num">
              Số dư: <span class="money_show">0đ</span>
            </div>
            <div
              data-v-03b808c2=""
              class="van-image img m-l-10 reload_money"
              style="width: 15px; height: 15px"
            >
              <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
            </div>
          </div> -->
        <!-- <div class="Choice_Ball_Container ui-whitespace" id="Game_CheckBall">
            <div class="gn_main_cont k3_ball_conatiner" id="gn_main_cont">
        

              <div
                id="k3hzzx"
                class="ball_section section_cqssc"
                style="margin-top: -18px"
              >
                <p class="remark" style="color: #fff">
                  Đoán tổng của ba số xổ số, 3-10 là nhỏ, 11-18 là lớn.
                </p>
                <div class="li_ball">
                  <div class="ui-row-flex">
                    <div class="ui-col ui-col-4 line-box">
                      <ul class="ball_list_ul">
                        <li class="ball_item">
                          <a
                            playid="k3hzbig"
                            ball-type="k3hzzx"
                            ball-number="大"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="1.980"
                          >
                            <b>Lớn</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                                font-size: 14px;
                              "
                            >
                              1.980
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hzsmall"
                            ball-type="k3hzzx"
                            ball-number="小"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="1.980"
                            ><b>Nhỏ</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              1.980
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hzodd"
                            ball-type="k3hzzx"
                            ball-number="单"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="2.100"
                            ><b>đơn</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              2.100
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hzeven"
                            ball-type="k3hzzx"
                            ball-number="双"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="2.100"
                            ><b>đôi</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              2.100
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz3"
                            ball-type="k3hzzx"
                            ball-number="3"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="180.000"
                            ><b>3</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              180.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz4"
                            ball-type="k3hzzx"
                            ball-number="4"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="60.000"
                            ><b>4</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              60.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz5"
                            ball-type="k3hzzx"
                            ball-number="5"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="29.500"
                            ><b>5</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              29.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz6"
                            ball-type="k3hzzx"
                            ball-number="6"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="18.500"
                            ><b>6</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              18.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz7"
                            ball-type="k3hzzx"
                            ball-number="7"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="12.000"
                            ><b>7</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              12.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz8"
                            ball-type="k3hzzx"
                            ball-number="8"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="9.500"
                            ><b>8</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              9.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz9"
                            ball-type="k3hzzx"
                            ball-number="9"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="8.000"
                            ><b>9</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              8.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz10"
                            ball-type="k3hzzx"
                            ball-number="10"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="7.500"
                            ><b>10</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              7.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz11"
                            ball-type="k3hzzx"
                            ball-number="11"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="7.500"
                            ><b>11</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              7.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz12"
                            ball-type="k3hzzx"
                            ball-number="12"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="8.000"
                            ><b>12</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              8.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz13"
                            ball-type="k3hzzx"
                            ball-number="13"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="9.500"
                            ><b>13</b>
                            <p style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              9.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz14"
                            ball-type="k3hzzx"
                            ball-number="14"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="12.000"
                            ><b>14</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              12.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz15"
                            ball-type="k3hzzx"
                            ball-number="15"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="18.500"
                            ><b>15</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              18.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz16"
                            ball-type="k3hzzx"
                            ball-number="16"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="29.500"
                            ><b>16</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              29.500
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz17"
                            ball-type="k3hzzx"
                            ball-number="17"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="60.000"
                            ><b>17</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              60.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                        <li class="ball_item">
                          <a
                            playid="k3hz18"
                            ball-type="k3hzzx"
                            ball-number="18"
                            href="javascript:void(0)"
                            class="ball_number"
                            peilv="180.000"
                            ><b>18</b>
                            <p class="peilv" style="color: #fff"></p>
                            <p
                              style="
                                margin-top: -0.9rem;
                                color: #fff;
                                font-size: 14px;
                              "
                            >
                              180.000
                            </p>
                            <p></p>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <%- include('element/betting.ejs') -%>
      </div>

      <div class="notification" style="z-index: 30000; display: none">
        <div class="notification--wrapper">
          <div class="notification--content">
            <span class="close--notification">X</span>
            <h3 class="notification--title">Thông báo</h3>
            <span class="notification--noti">VUI LÒNG LIÊN HỆ CHĂM SÓC KHÁCH HÀNG ĐỂ ĐƯỢC HƯỚNG DẪN VÀ NHẬN
              NHIỀU ƯU ĐÃI HƠN</span>
            <div id="cskh" data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/keFuMenu'">
              <div data-v-21f3500a="" class="c-row c-row-middle">
                <img data-v-21f3500a="" width="24px" height="24px" src="/images/s5.png" class="img" /><span
                  data-v-21f3500a="" class="name">Chăm sóc khách hàng</span>
              </div>
              <div data-v-21f3500a="" class="c-row c-row-middle">
                <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: rgb(84, 94, 104); font-size: 20px">
                  <!---->
                </i>
              </div>
            </div>
            <!-- <button class="van-overlay--btn">
                            Đóng
                        </button> -->
          </div>
        </div>
      </div>
      <%- include('element/popupJoin.ejs') -%> <%- include('element/quytac.ejs') -%>
    </div>
  </div>

  <div id="cz_tel" class="hository-container-k3" style="display: none">
    <div class="mint-popup hository-container mint-popup-bottom" style="z-index: 9999">
      <div class="hository-head" onclick="layer.closeAll();">
        <img src="/images/icon_close_white.8e8efce.png" alt="" />
        Trận hòa gần đây
      </div>
      <div class="hository-content">
        <div class="table-head flex">
          <p class="hository-orderNum">Vấn đề</p>
          <p class="hository-openNum-k3">Trúng số</p>
          <p class="hository-k3lm">Tổng</p>
          <!--p class="hository-k3lm">kích cỡ</p-->
          <p class="hository-k3lm">Kiểu</p>
        </div>

        <ul class="table-body cz_body">
          <li class="flex">
            <p class="hository-orderNum">20230706280</p>
            <p class="hository-openNum-k3 flex">
              <img src="/images/6.png" /><img src="/images/2.png" /><img src="/images/1.png" />
            </p>
            <p class="hository-k3lm font-red">9</p>
            <p class="hository-k3lm">
              <span class="openInfo-ball bgColor-gray">Nhỏ</span>
            </p>
            <p class="hository-k3lm">
              <span class="openInfo-ball bgColor-orange">Một</span>
            </p>
          </li>
          <li class="flex">
            <p class="hository-orderNum">20230706279</p>
            <p class="hository-openNum-k3 flex">
              <img src="/images/3.png" /><img src="/images/2.png" /><img src="/images/2.png" />
            </p>
            <p class="hository-k3lm font-red">7</p>
            <p class="hository-k3lm">
              <span class="openInfo-ball bgColor-gray">Nhỏ</span>
            </p>
            <p class="hository-k3lm">
              <span class="openInfo-ball bgColor-orange">Một</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lottey_footer">
    <div class="lottery_footer_sum" style="visibility: hidden; display: none">
      <span class="lottery_sum_text">Số hiện tại</span>
      <div id="lottery_sum_old_b">
        <div>Lớn</div>
        <elseif condition="$lottery_sum_old_b lt 小">
          <div>Nhỏ</div>
          <elseif condition="$lottery_sum_old_b lt 单">
            <div>đơn</div>
            <elseif condition="$lottery_sum_old_b lt 双">
              <div>đôi</div>
            </elseif>
          </elseif>
        </elseif>
      </div>
    </div>
    <div class="lottery_inputBox" style="display: none">
      số tiền cho mỗi cược
      <input type="number" class="lottery_input" />
      <span class="lottery_input_text">Tối đa<em style="color: #f4c829" class="max_money">0.00</em>USD</span>
    </div>
    <br />
    <div class="kuaijie_money" style="display: none">
      <ul class="kuaijie_money_ul">
        <li class="kuaijie_item">5</li>
        <li class="kuaijie_item">10</li>
        <li class="kuaijie_item">50</li>
        <li class="kuaijie_item">100</li>
        <li class="kuaijie_item">1000</li>
      </ul>
    </div>
    <div class="betting_box" id="betting_box">
      <div class="betting_left">
        <span class="betting_empty">Trống</span>
        <em class="betting_sum_box" style="font-size: 15px; display: none">
          Chung
          <span class="betting_sum" style="color: #f30c0c">1</span>Ghi chú,
          <span class="betting_sum_moery" style="color: #f30c0c">0</span>USD
        </em>
      </div>
      <div class="betting_right">
        <button class="betting_right_btn-submit betting_right_btn"
          style="font-size: 13px; width: 100%; margin-left: -1rem">
          Cược ngay
        </button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/common.js"></script>

  <script type="text/javascript" src="/js/jquery.range.js"></script>
  <script type="text/javascript" src="/js/layer.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/k3/js/main.js"></script>
  <script type="text/javascript" src="/js/k3.js"></script>
  <script src="/k3/js/chuck.js"></script>
  <!-- <script type="text/html" id="k3hzzx_wf">
  

      <div id="k3hzzx" class="ball_section section_cqssc" style="margin-top:-18px;">
        <p class="remark" style="color:#fff;">
          Đoán tổng của ba số xổ số, 3-10 là nhỏ, 11-18 là lớn.
        </p>
        <div class="li_ball">
          <div class="ui-row-flex">
            <div class="ui-col ui-col-4 line-box">
              <ul class="ball_list_ul">
                <li class="ball_item"><a playid="k3hzbig" ball-type="k3hzzx" ball-number="大" href="javascript:void(0)"
                    class="ball_number" peilv="1.980">
                    <b>Lớn</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;font-size:14px;"> 1.980</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hzsmall" ball-type="k3hzzx" ball-number="小" href="javascript:void(0)"
                    class="ball_number" peilv="1.980"><b>Nhỏ</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 1.980</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hzodd" ball-type="k3hzzx" ball-number="单" href="javascript:void(0)"
                    class="ball_number" peilv="2.100"><b>đơn</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 2.100</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hzeven" ball-type="k3hzzx" ball-number="双" href="javascript:void(0)"
                    class="ball_number" peilv="2.100"><b>đôi</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 2.100</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz3" ball-type="k3hzzx" ball-number="3" href="javascript:void(0)"
                    class="ball_number" peilv="180.000"><b>3</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 180.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz4" ball-type="k3hzzx" ball-number="4" href="javascript:void(0)"
                    class="ball_number" peilv="60.000"><b>4</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 60.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz5" ball-type="k3hzzx" ball-number="5" href="javascript:void(0)"
                    class="ball_number" peilv="29.500"><b>5</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 29.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz6" ball-type="k3hzzx" ball-number="6" href="javascript:void(0)"
                    class="ball_number" peilv="18.500"><b>6</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 18.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz7" ball-type="k3hzzx" ball-number="7" href="javascript:void(0)"
                    class="ball_number" peilv="12.000"><b>7</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 12.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz8" ball-type="k3hzzx" ball-number="8" href="javascript:void(0)"
                    class="ball_number" peilv="9.500"><b>8</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 9.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz9" ball-type="k3hzzx" ball-number="9" href="javascript:void(0)"
                    class="ball_number" peilv="8.000"><b>9</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 8.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz10" ball-type="k3hzzx" ball-number="10" href="javascript:void(0)"
                    class="ball_number" peilv="7.500"><b>10</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 7.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz11" ball-type="k3hzzx" ball-number="11" href="javascript:void(0)"
                    class="ball_number" peilv="7.500"><b>11</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 7.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz12" ball-type="k3hzzx" ball-number="12" href="javascript:void(0)"
                    class="ball_number" peilv="8.000"><b>12</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 8.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz13" ball-type="k3hzzx" ball-number="13" href="javascript:void(0)"
                    class="ball_number" peilv="9.500"><b>13</b>
                    <p style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 9.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz14" ball-type="k3hzzx" ball-number="14" href="javascript:void(0)"
                    class="ball_number" peilv="12.000"><b>14</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 12.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz15" ball-type="k3hzzx" ball-number="15" href="javascript:void(0)"
                    class="ball_number" peilv="18.500"><b>15</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 18.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz16" ball-type="k3hzzx" ball-number="16" href="javascript:void(0)"
                    class="ball_number" peilv="29.500"><b>16</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 29.500</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz17" ball-type="k3hzzx" ball-number="17" href="javascript:void(0)"
                    class="ball_number" peilv="60.000"><b>17</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 60.000</p>
                    </p>
                  </a></li>
                <li class="ball_item"><a playid="k3hz18" ball-type="k3hzzx" ball-number="18" href="javascript:void(0)"
                    class="ball_number" peilv="180.000"><b>18</b>
                    <p class="peilv" style="color:#fff;">
                      <p style="margin-top:-0.9rem;color:#fff;font-size:14px;"> 180.000</p>
                    </p>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </script> -->
  <script type="text/html" id="k3sthtx_wf">
      <!--三同号通选-->

  <div id="k3sthtx" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      对所有相同的三个号码（111、222、333、444、555、666）进行投注，任意号码开出，即为中奖。奖金31.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box">
          <ul class="ball_list_ul">
            <li style="width:100%" class="ball_item">
              <a playid="k3sthtx" playid="k3sthtx" href="javascript:void(0);" ball-type="3THTX" ball-number="三同号通选"
                class="ball_number" id="slhtx_btn"><b style="padding-top:5px;">三同号通选</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3sthdx_wf">
      <!--3同号单选-->
  <div id="k3sthdx" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      对相同的三个号码（111、222、333、444、555、666）中的任意一个进行投注，所选号码开出，即为中奖。奖金180.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box">
          <ul class="ball_list_ul">
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="111" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">111</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="222" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">222</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="333" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">333</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="444" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">444</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="555" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">555</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sthdx" ball-type="k3sthdx" ball-number="666" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">666</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3sbthbz_wf">
      <!--3不同号-->
  <div id="k3sbthbz" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      从1～6中任选3个或多个号码，所选号码与开奖号码的3个号码相同，即为中奖。奖金28.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box">
          <ul class="ball_list_ul">
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-type="k3sbthbz" ball-number="1" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">1</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-number="2" ball-type="k3sbthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">2</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-number="3" ball-type="k3sbthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">3</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-number="4" ball-type="k3sbthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">4</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-number="5" ball-type="k3sbthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">5</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a playid="k3sbthbz" ball-number="6" ball-type="k3sbthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">6</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3slhtx_wf">
      <!--3连号同选-->
  <div id="k3slhtx" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      对所有3个相连的号码（123、234、345、456）进行投注，任意号码开出，即为中奖。奖金8.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box">
          <ul class="ball_list_ul">
            <li style="width:100%" class="ball_item">
              <a ball-type="k3slhtx" playid="k3slhtx" ball-number="三连号通选" class="ball_number"
                href="javascript:void(0)"><b style="padding-top:5px;">三连号通选</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3ethfx_wf">
      <!--2同号复选-->
  <div id="k3ethfx" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      从11～66中任选1个或多个号码，选号与奖号（包含11～66，不限顺序）相同，即为中奖。奖金11.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box">
          <ul class="ball_list_ul">
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="11" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">11</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="22" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">22</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="33" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">33</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="44" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">44</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="55" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">55</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="66" playid="k3ethfx" ball-type="k3ethfx" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">66</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3ethdx_wf">
      <!--2同号单选-->

  <div id="k3ethdx" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      选择1对相同号码和1个不同号码投注，选号与奖号相同，即为中奖。奖金51.000倍
    </p>
    <br />
    <div class="gn_main_list" style="">
      <ul class="ball_list_ul">
        <li style="width:100%; margin:5px 5px;" class="li_ball curr">
          <ul style="width:100%;margin-left:4px;" class="ball_list_ul ball_cont" id="ball_list_ul0">
            <li style="width:16%;" class="ball_item">
              <a ball-number="11" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">11</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="22" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">22</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="33" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">33</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="44" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">44</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="55" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">55</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="66" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn"><b style="padding-top:5px;">66</b></a>
            </li>
          </ul>
        </li>
        <li style="width:100%;" class="li_ball curr">
          <ul style="width:100%;margin-left:8px;" class="ball_list_ul ball_cont" id="ball_list_ul1">
            <li style="width:16%;" class="ball_item">
              <a ball-number="1" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">1</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="2" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">2</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="3" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">3</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="4" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">4</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="5" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">5</b></a>
            </li>
            <li style="width:16%;" class="ball_item">
              <a ball-number="6" ball-type="k3ethdx" playid="k3ethdx" href="javascript:void(0)"
                class="ball_number ethdx_btn1"><b style="padding-top:5px;">6</b></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </script>
  <script type="text/html" id="k3ebthbz_wf">
      <!--2不同号-->
  <div id="k3ebthbz" class="ball_section section_cqssc">
    <p class="remark" style="color:#999">
      从1～6中任选2个或多个号码，所选号码与开奖号码任意2个号码相同，即为中奖。奖金6.000倍
    </p>
    <br />
    <div class="li_ball">
      <div class="ui-row-flex">
        <div class="ui-col ui-col-4 line-box gn_main_list">
          <ul class="ball_list_ul">
            <li style="width:33.3%;" class=" ball_item">
              <a ball-number="1" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">1</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="2" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">2</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="3" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">3</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="4" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">4</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="5" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">5</b></a>
            </li>
            <li style="width:33.3%" class=" ball_item">
              <a ball-number="6" ball-type="k3ebthbz" playid="k3ebthbz" href="javascript:void(0)" class="ball_number"><b
                  style="padding-top:5px;">6</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </script>
  <div class="modal modal-in modal-cacuoc" id="modal-cacuoc" style="margin-top: -120px; padding: 0">
    <div class="modal-inner">
      <div class="modal-text"></div>
    </div>
    <div class="modal-buttons">
      <span class="modal-button-cancel modal-button" onclick="hideModal()">Hủy bỏ</span><span
        class="modal-button modal-button-bold" onclick="sendGame1()">Cá cược</span>
    </div>
  </div>
  <script>
    function getUser() {
      fetch("/api/webapi/GetUserInfo")
        .then((response) => response.json())
        .then((data) => {
          if (data.status === false) {
            unsetCookie();
            return false;
          }
          $(".smallmoney").text(` ${data.data.money_user}.00 USD `);
        });
    }
    getUser();
  </script>
  <script>
    function sendGame1() {
      var lottery_number = [];
      $("#lottery_sum_old_b")
        .find(".lottery_sum_old")
        .each(function () {
          var mnumbers = $(this).attr("lottery_sum");
          if (mnumbers == "大") {
            var mmnumbers = "b";
          } else if (mnumbers == "小") {
            var mmnumbers = "s";
          } else if (mnumbers == "单") {
            var mmnumbers = "l";
          } else if (mnumbers == "双") {
            var mmnumbers = "c";
          } else {
            mmnumbers = mnumbers;
          }
          lottery_number.push(mmnumbers);
        });
      let xvalue = 1;
      // let money = parseInt($(".betting_sum_moery").text());
      let money = parseInt($(".lottery_input").val());
      $.ajax({
        type: "POST",
        url: "/api/webapi/action/k3/join",
        data: {
          listJoin: lottery_number.toString(),
          game: $("html").attr("data-dpr"),
          gameJoin: 1,
          xvalue: xvalue,
          money: money,
        },
        dataType: "json",
        success: function (response) {
          alertMess(response.message);
          let chane = response.chane;
          if (response.status) {
            $(".money_show").text(response.money + ".00 ₫");
            var ctv = response.ctv;
            $(".lottery_footer_sum").hide();
            $(".lottery_inputBox").hide();
            $(".betting_sum_box").hide();
            $(".kuaijie_money").hide();
            socket.emit("data-server-3", {
              bet: response.bet,
            });
          }
          document.getElementById("modal-cacuoc").style.display = "none";
          getUser();
        },
      });
    }
  </script>
  <script>
    function hideModal() {
      document.getElementById("modal-cacuoc").style.display = "none";
    }
    $(".modal-button-cancel").click(() => {
      $("#modal-cacuoc").css("display", "none !important");
    });
    $(".betting_right_btn-submit").click(() => {
      $("#modal-cacuoc").css("display", "block !important");
    });
  </script>
  <script>
    setTimeout(() => {
      $.ajax({
        type: "GET",
        url: "/api/webapi/GetUserInfo",
        dataType: "json",
        success: function (response) {
          if (response) {
            $(".money_show").text(`${response.data.money_user}.00 ₫ `);
          }
        },
      });
    }, 3000);
    function handleNoti() {
      $(".notification").fadeIn(0);
    }
    function handleNoti() {
      $(".notification").fadeIn(0);
    }
    $(".close--notification").click(function () {
      $(".notification").fadeOut(0);
    });
    function renderName(value) {
      if (value === "b") return "Lớn";
      else if (value === "s") return "Nhỏ";
      else if (value === "l") return "Đơn";
      else if (value === "c") return "Đôi";
      else return value;
    }
    //get data ti le
    function getData() {
      $.ajax({
        type: "POST",
        url: "/api/webapi/getPrice",
        data: {
          game: "k3d",
        },
        dataType: "json",
        success: function (response) {
          let htmlGame1 = "";
          console.log(response);
          response?.map((item) => {
            if (item?.gameCode === 1) {
              item?.data?.map((itemChildren) => {
                htmlGame1 += `<li class="ball_item">
                        <a
                          playid="k3hzbig"
                          ball-type="k3hzzx"
                          ball-number=${itemChildren?.position}
                          href="javascript:void(0)"
                          class="ball_number"
                          peilv=${itemChildren?.value}
                        >
                          <b>${renderName(itemChildren?.position)}</b>
                          <p class="peilv" style="color: #fff"></p>
                          <p
                            style="
                              margin-top: -0.9rem;
                              color: #fff;
                              font-size: 14px;
                              font-size: 14px;
                            "
                          >
                          ${itemChildren?.value}
                          </p>
                          <p></p>
                        </a>
                      </li>`;
              });
            } else if (item?.gameCode === 2) {
              item?.data?.map((itemChildren) => {
                console.log(itemChildren);
                if (itemChildren?.position === "1") {
                  console.log(itemChildren.value);
                  document.getElementById("game2-hang1").innerText =
                    itemChildren.value;
                } else {
                  document.getElementById("game2-hang2").innerText =
                    itemChildren.value;
                }
              });
            } else if (item?.gameCode === 3) {
              item?.data?.map((itemChildren) => {
                if (itemChildren?.position === "same")
                  document.getElementById("game3-same").innerText =
                    itemChildren?.value;
                else
                  document.getElementById("game3-diff").innerText =
                    itemChildren?.value;
              });
            } else {
              item?.data?.map((itemChildren) => {
                if (itemChildren.position === "2") {
                  document.getElementById("game4-2").innerText =
                    itemChildren.value;
                } else if (itemChildren.position === "3") {
                  document.getElementById("game4-3").innerText =
                    itemChildren.value;
                } else {
                  document.getElementById("game4-consec").innerText =
                    itemChildren.value;
                }
              });
            }
          });
          $(".list-ball-game1").html(htmlGame1);
          // $(".list-ball-game2").html(htmlGame2);
          // $(".list-ball-game3").html(htmlGame3);
          // $(".list-ball-game4").html(htmlGame4);
        },
      });
    }
    //get data
    $(function () {
      getData();
    });
      // end
  </script>
</body>

</html>