<!DOCTYPE html>
<html lang="en" data-change="1">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Trang quản lý</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/css/pages__parity.css" />
  <link rel="stylesheet" href="/css/vantjs.css" />
  <!-- <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css" /> -->

  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/css/bet/k3/reset.css" />
  <style>
    .box-xs {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 18px !important;
      height: 18px;
      border: 1px solid #bbb;
      border-radius: 18px;
      margin-right: 4px;
      color: #bbb;
      background-color: #fff;
    }

    .active {
      background-color: #007bff !important;
    }

    /* Chrome, Safari, Edge, Opera */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */

    input[type="number"] {
      -moz-appearance: textfield;
    }

    #list-orders .item {
      padding: 5px 0;
      text-align: center;
    }

    .box .li[data-v-a9660e98] {
      display: block;
      height: 13px;
      width: 13px;
      border-radius: 50%;
      margin: 0 0.13333rem;
    }

    .block-click {
      pointer-events: none;
    }

    .van-col .goItem .c-tc .green {
      background-color: #5cba47;
    }

    .van-col .goItem .c-tc .red {
      background-color: #fb4e4e;
    }

    .van-col .goItem .c-tc .violet {
      background-color: #eb43dd;
    }

    .van-col .c-tc .green {
      color: #5cba47;
    }

    .van-col .c-tc .red {
      color: #fb4e4e;
    }

    .van-col .c-tc .violet {
      color: #eb43dd;
    }

    .goItem .c-row-center {
      display: flex;
      justify-content: center;
    }

    .game {
      background-color: #e67e22 !important;
      cursor: pointer;
    }

    .cursor-pointer {
      cursor: pointer;
    }

    .active-game {
      color: rgb(230, 126, 34);
      font-weight: 600;
    }
  </style>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%- include('nav') %>
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Tỉ lệ cược K3</h1>
              </div>
            </div>
          </div>
        </div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3" style="margin-bottom: 10px">
                <select style="padding: 10px; width: 50%" onchange="handleChangeGame(this)" id="select-game">
                  <option value="1">Tổng số</option>
                  <option value="2">2 số</option>
                  <option value="3">3 số</option>
                  <option value="4">Khác nhau</option>
                </select>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <%- include('element/betting.ejs') -%>
              </div>
            </div>
            <!-- Main row -->
          </div>
        </section>
      </div>
      <a id="back-to-tops" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
      </a>
  </div>
  <%- include('element/popupJoin.ejs') -%>
    <style>
      .peilv {
        margin-bottom: 0;
      }

      .ball_list_ul .ball_item a b {
        font-size: 12px;
      }
    </style>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script>
      $(document).on("click", "a.ball_number", function () {
        var key = $(this).attr("ball-number");
        let type
        switch (key) {
          case 'same': type = 'Giống nhau'
            break;
          case 'diff': type = 'Khác nhau'
            break;
          case 'consec': type = 'Liên tiếp'
            break;
          default: type = key
            break;

        }

        var value = $(this).attr("peilv");
        if ($("#popup-cuatruong-admin").css("display") === "block") {
          $("#popup-cuatruong-admin").css("display", "none");
        } else {
          $("#popup-cuatruong-admin").css("display", "block");
        }
        const html = `
        <span style="color:black;font-size:15px;font-weight:700;margin-bottom:20px">Thay đổi tỉ lệ cược cho giá trị: <span style="color:red;font-weight:bold" id="key-ratio">${type}</span></span>
        <input type="number" id="value-ratio" style="color:black;padding:8px" value=${value} placeholder="Giá trị tỉ lệ cược"/>`;
        $(".content-main-popup").html(html);
      });
      //bấm huỷ modal
      $(".canned-popup").click(function (e) {
        e.preventDefault();
        $("#popup-cuatruong-admin").css("display", "none");
      });
      //xác nhân thay đổi
      $(".confirm-change-raito").click(function (e) {
        e.preventDefault();
        const key = document.getElementById("key-ratio").innerText;
        const value = $("#value-ratio").val();
        const valueGame = $("#select-game").val();
        let position
        switch (key) {
          case 'Lớn':
            position = 'b'
            break;
          case 'Nhỏ':
            position = 's'
            break;
          case 'Đơn':
            position = 'l'
            break;
          case 'Đôi':
            position = 'c'
            break;

          default:
            position = key
            break;
        }

        $.ajax({
          type: "POST",
          url: "/api/webapi/admin/editPrice",
          data: {
            game: "k3d",
            gameCode: valueGame,
            position: position,
            value: value,
          },
          dataType: "json",
          success: function (response) {
            if (response?.status === true) {
              getData();
              $("#popup-cuatruong-admin").css("display", "none");

              Swal.fire("Good job!", `Cập nhật thành công`, "success");
            } else {
              Swal.fire("Good job!", `Cập nhật thất bại`, "error");
            }
          },
        });
      });

      //handle select
      function handleChangeGame(data) {
        $(".bet-tab .item").removeClass("action");

        $(".bet-mark .bet-con").addClass("d-none");
        $(".bet-mark").find(`[game='${data.value}']`).removeClass("d-none");

        $(".list-join-ao span").addClass("d-none");
        $(".bet-tab .item").removeClass("block-click");
      }

      //end
      function renderName(value) {
        if (value === "b") return "Lớn";
        else if (value === "s") return "Nhỏ";
        else if (value === "l") return "Đơn";
        else if (value === "c") return "Đôi";
        else return value;
      }
      function getData() {
        $.ajax({
          type: "POST",
          url: "/api/webapi/getPrice",
          data: {
            game: "k3d",
          },
          dataType: "json",
          success: function (response) {
            let htmlGame1 = "";
            let htmlGame2 = "";
            let htmlGame3 = "";
            let htmlGame4 = "";
            response?.map((item) => {
              if (item?.gameCode === 1) {
                item?.data?.map((itemChildren) => {
                  htmlGame1 += `<li class="ball_item">
                        <a
                          playid="k3hzbig"
                          ball-type="k3hzzx"
                          ball-number=${renderName(itemChildren?.position)}
                          href="javascript:void(0)"
                          class="ball_number"
                          peilv=${itemChildren?.value}
                        >
                          <b>${renderName(itemChildren?.position)}</b>
                          <p class="peilv" style="color: #fff"></p>
                          <p
                            style="
                              margin-top: -0.9rem;
                              color: #fff;
                              font-size: 14px;
                              font-size: 14px;
                            "
                          >
                          ${itemChildren?.value}
                          </p>
                          <p></p>
                        </a>
                      </li>`;
                });
              } else if (item?.gameCode === 2) {
                item?.data?.map((itemChildren) => {
                  htmlGame2 += `<li class="ball_item">
                        <a
                          playid="k3hzbig"
                          ball-type="k3hzzx"
                          ball-number=${itemChildren?.position}
                          href="javascript:void(0)"
                          class="ball_number"
                          peilv=${itemChildren?.value}
                        >
                          <b>${itemChildren?.position === "1" ? "Hàng 1" : "Hàng 2"
                    }</b>
                          <p class="peilv" style="color: #fff"></p>
                          <p
                            style="
                              margin-top: -0.9rem;
                              color: #fff;
                              font-size: 14px;
                              font-size: 14px;
                            "
                          >
                          ${itemChildren?.value}
                          </p>
                          <p></p>
                        </a>
                      </li>`;
                });
              } else if (item?.gameCode === 3) {
                item?.data?.map((itemChildren) => {
                  htmlGame3 += `<li class="ball_item">
                        <a
                          playid="k3hzbig"
                          ball-type="k3hzzx"
                          ball-number=${itemChildren?.position}
                          href="javascript:void(0)"
                          class="ball_number"
                          peilv=${itemChildren?.value}
                        >
                          <b>${itemChildren?.position === "same"
                      ? "Giống nhau"
                      : "Khác nhau"
                    }</b>
                          <p class="peilv" style="color: #fff"></p>
                          <p
                            style="
                              margin-top: -0.9rem;
                              color: #fff;
                              font-size: 14px;
                              font-size: 14px;
                            "
                          >
                          ${itemChildren?.value}
                          </p>
                          <p></p>
                        </a>
                      </li>`;
                });
              } else {
                item?.data?.map((itemChildren) => {
                  htmlGame4 += `<li class="ball_item">
                        <a
                          playid="k3hzbig"
                          ball-type="k3hzzx"
                          ball-number=${itemChildren?.position}
                          href="javascript:void(0)"
                          class="ball_number"
                          peilv=${itemChildren?.value}
                        >
                          <b>${itemChildren?.position === "3"
                      ? "3 khác"
                      : itemChildren?.position === "2"
                        ? "2 Khác"
                        : "Liên tiếp"
                    }</b>
                          <p class="peilv" style="color: #fff"></p>
                          <p
                            style="
                              margin-top: -0.9rem;
                              color: #fff;
                              font-size: 14px;
                              font-size: 14px;
                            "
                          >
                          ${itemChildren?.value}
                          </p>
                          <p></p>
                        </a>
                      </li>`;
                });
              }
            });
            $(".list-ball-game1").html(htmlGame1);
            $(".list-ball-game2").html(htmlGame2);
            $(".list-ball-game3").html(htmlGame3);
            $(".list-ball-game4").html(htmlGame4);
          },
        });
      }
      //get data
      $(function () {
        getData();
      });
      //end
    </script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="/dist/js/adminlte.js"></script>
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/k3/admin/main.js"></script>
    <script type="text/javascript" src="/js/layer.js"></script>
    <script type="text/javascript" src="/js/layer_mobile.js"></script>
    <script type="text/javascript" src="/js/zepto.js"></script>
    <script type="text/javascript" src="/js/sm.min.js"></script>

    <script>
      $(".start-order").click(function (e) {
        e.preventDefault();
        let game = $("html").attr("data-change");
        let value = $("#editResult").val().trim();
        let arr = value.split("|");
        for (let i = 0; i < arr.length; i++) {
          let check = isNumber(arr[i]);
          if (arr[i] == "" || arr[i].length != 3 || !check) {
            alert("Vui lòng nhập đúng định dạng (VD: 123)");
            return false;
          }
        }
        $.ajax({
          type: "POST",
          url: "/api/webapi/admin/k3/editResult",
          data: {
            game: game,
            list: value,
          },
          dataType: "json",
          success: function (response) {
            Swal.fire("Good job!", `${response.message}`, "success");
            $("#ketQua").text(`kết quả tiếp theo: ${value}`);
          },
        });
      });
    </script>
</body>

</html>