<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cài đặt</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
        />
        <link
            rel="stylesheet"
            href="/plugins/fontawesome-free/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
        <link rel="stylesheet" href="/css/admin.css" />
        <link
            href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <style>
            .form-group {
                margin-top: 20px;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 5px #2ecc71;
            }

            .form-group button {
                margin-top: 30px;
            }
        </style>
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <%- include('nav') %>
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Cài đặt</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div
                                style="padding: 10px 20px; margin-bottom: 200px"
                            >
                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Số dư hệ thống Baccarat:
                                            <%=balance_bacarat%></label
                                        >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Tăng | Giảm tiền cho thành
                                            viên</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        oninput="value=value.replace(/\D/g,'')"
                                        id="buff-id"
                                        placeholder="Nhập ID tài khoản"
                                    /><br />
                                    <select
                                        class="form-select mb-4"
                                        id="buff-acc"
                                        aria-label="Default select example"
                                    >
                                        <option selected value="">
                                            --------------- Chọn chức năng
                                            ---------------
                                        </option>
                                        <option value="1">Tăng (+)</option>
                                        <option value="2">Giảm (-)</option>
                                    </select>

                                    <input
                                        type="text"
                                        class="form-control"
                                        oninput="value=value.replace(/\D/g,'')"
                                        id="buff-money"
                                        placeholder="Nhập số tiền"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="buff-username"
                                        style="width: 100%"
                                    >
                                        Khởi tạo
                                    </button>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Cộng Tổng Cược(nhập 10000 sẽ bằng
                                            tổng cược hiện tại + 10000)</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="tc-user"
                                        placeholder="Nhập ID tài khoản"
                                    /><br />

                                    <input
                                        type="number"
                                        class="form-control"
                                        id="tc-so"
                                        placeholder="Nhập số"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="tc-btn"
                                        style="width: 100%"
                                    >
                                        Tăng Tổng Cược
                                    </button>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Thay đổi mã người giới thiệu</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="doictv-user"
                                        placeholder="Nhập ID tài khoản"
                                    /><br />

                                    <input
                                        type="text"
                                        class="form-control"
                                        id="doictv-daily"
                                        placeholder="Nhập ID Đại lý"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="doictv-btn"
                                        style="width: 100%"
                                    >
                                        Chuyển Đổi
                                    </button>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Thay đổi mật khẩu thành viên</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="doipass-user"
                                        placeholder="Nhập ID tài khoản"
                                    /><br />

                                    <input
                                        type="text"
                                        class="form-control"
                                        id="doipass-pass"
                                        placeholder="Nhập mật khẩu mới"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="doipass-btn"
                                        style="width: 100%"
                                    >
                                        Đổi Mật Khẩu
                                    </button>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Xóa thành viên</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="delete-user"
                                        placeholder="Nhập ID tài khoản"
                                    /><br />
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="delete-btn"
                                        style="width: 100%"
                                    >
                                        Xóa
                                    </button>
                                </div>

                                <div class="form-group">
                                    <form
                                        id="edit-bank"
                                        enctype="multipart/form-data"
                                    >
                                        <div class="text-center">
                                            <label for="quantity"
                                                >Thay đổi thông tin nạp
                                                tiền</label
                                            >
                                        </div>
                                        <label
                                            for="quantity"
                                            style="color: #3498db"
                                            >BANKING</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Tên ngân hàng"
                                            id="edit-banking-name_bank"
                                            value=""
                                        /><br />
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Tên chủ thẻ"
                                            id="edit-banking-name"
                                            value=""
                                        /><br />
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Số tài khoản"
                                            id="edit-banking-info"
                                            value=""
                                        /><br />
                                        <input
                                            type="file"
                                            class="form-control"
                                            placeholder="QR"
                                            id="bank"
                                            value=""
                                        /><br />
                                        <img
                                            src=""
                                            alt=""
                                            width="200px"
                                            id="qr-bank"
                                        />

                                        <button
                                            type="submit"
                                            class="btn btn-primary edit-banking"
                                            style="
                                                width: 100%;
                                                margin-bottom: 20px;
                                            "
                                        >
                                            Submit
                                        </button>
                                    </form>
                                    <!---------------------------------------------------------------->
                                    <form
                                        id="edit-momo"
                                        enctype="multipart/form-data"
                                    >
                                        <label
                                            for="quantity"
                                            style="color: #a50064"
                                            >MOMO</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="MOMO"
                                            id="edit-momo-name_bank"
                                            value=""
                                        /><br />
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Tên chủ ví"
                                            id="edit-momo-name"
                                            value=""
                                        /><br />
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Số điện thoại"
                                            id="edit-momo-info"
                                            value=""
                                        /><br />
                                        <input
                                            type="file"
                                            class="form-control"
                                            placeholder="QR"
                                            id="momo"
                                            value=""
                                        /><br />
                                        <img
                                            src=""
                                            alt=""
                                            width="200px"
                                            id="qr-momo"
                                        />
                                        <button
                                            type="submit"
                                            class="btn btn-primary edit-momo"
                                            style="width: 100%"
                                        >
                                            Khởi tạo
                                        </button>
                                    </form>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="quantity"
                                            >Thay đổi ảnh vip thành viên</label
                                        >
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="id_user_vip"
                                        placeholder="Nhập tên tài khoản"
                                    /><br />

                                    <select
                                        type="text"
                                        class="form-control"
                                        id="level_vip"
                                        placeholder="Nhập mật khẩu mới"
                                    >
                                        <option value="vip1">vip1</option>
                                        <option value="vip2">vip2</option>
                                        <option value="vip3">vip3</option>
                                        <option value="vip4">vip4</option>
                                        <option value="vip5">vip5</option>
                                        <option value="vip6">vip6</option>
                                    </select>
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="vip-btn"
                                        style="width: 100%"
                                    >
                                        Đổi ảnh vip
                                    </button>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="telegram">Telegram</label>
                                    </div>
                                    <label for="telegram" style="color: #3498db"
                                        >Thông báo & CSKH</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="telegram"
                                        placeholder="Link Telegram"
                                        value=""
                                    /><br />
                                    <label for="cskh" style="color: #3498db"
                                        >Dịch vụ trực tuyến</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="cskh"
                                        placeholder="Dịch vụ trực tuyến"
                                        value=""
                                    /><br />
                                    <label
                                        for="myapp_web"
                                        style="color: #3498db"
                                        >Link tải APP</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="myapp_web"
                                        placeholder="Link tải APP"
                                        value=""
                                    /><br />
                                    <label for="notice" style="color: #3498db"
                                        >Thông báo</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="notice"
                                        placeholder="Thông báo home"
                                        value=""
                                    /><br />
                                    <button
                                        type="submit"
                                        class="btn btn-primary telegram"
                                        style="width: 100%"
                                    >
                                        Khởi tạo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/dist/js/adminlte.min.js"></script>
        <script src="/js/admin/admin.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <script>
            $.ajax({
                type: 'POST',
                url: '/admin/manager/settings/get',
                data: 'data',
                dataType: 'json',
                success: function (response) {
                    let bank = response.datas[0];
                    let momo = response.datas[1];
                    $('#edit-momo-name_bank').val(momo.name_bank);
                    $('#edit-momo-name').val(momo.name_user);
                    $('#edit-momo-info').val(momo.stk);
                    $('#qr-momo').attr('src', momo.qr);

                    $('#edit-banking-name_bank').val(bank.name_bank);
                    $('#edit-banking-name').val(bank.name_user);
                    $('#edit-banking-info').val(bank.stk);
                    $('#qr-bank').attr('src', bank.qr);

                    $('#telegram').val(response.settings[0].telegram);
                    $('#cskh').val(response.settings[0].cskh);
                    $('#myapp_web').val(response.settings[0].app);
                    $('#notice').val(response.settings[0].notice);
                },
            });
        </script>
        <script>
            function sendRequest(params1, params2, typer) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/manager/settings/buff',
                    data: {
                        id_user: params1,
                        buff_acc: typer,
                        money_value: params2,
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.message == 1) {
                            Swal.fire(
                                'Good job!',
                                'You clicked the button!',
                                'success'
                            );
                        } else if (response.message == 2) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Số điện thoại không tồn tại',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi không xác định !',
                            });
                        }
                    },
                });
            }

            function sendRequestBank(
                name_bank = '',
                name = '',
                info = '',
                typer = '',
                qr = ''
            ) {
                let formData = new FormData();
                formData.append('');
                $.ajax({
                    type: 'POST',
                    url: '/admin/manager/settings/bank',
                    data: {
                        name_bank: name_bank,
                        name: name,
                        info: info,
                        typer: typer,
                    },
                    dataType: 'json',
                    success: function (response) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'success'
                        );
                    },
                });
            }
            $('.buff-money').click(function (e) {
                e.preventDefault();
                const phone = $('#buff-phone').val();
                const money = $('#buff-money').val();
                const type = $('#buff-acc').val();
                const checkMoney = $.isNumeric(money);
                if (phone && checkMoney && type) {
                    sendRequest(phone, money, type);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    });
                }
            });
            $('#tc-btn').click(function (e) {
                e.preventDefault();
                var phone = $('#tc-user').val();
                var so = $('#tc-so').val();
                if (phone && so) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/updatetc',
                        data: {
                            phone: phone,
                            so: so,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire({
                                    icon: 'success',
                                    title: response.message,
                                });
                                $('#tc-user').val('');
                                $('#tc-so').val('');
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: response.message,
                                });
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    });
                }
            });
            $('#doictv-btn').click(function (e) {
                e.preventDefault();
                var phone = $('#doictv-user').val();
                var daily = $('#doictv-daily').val();
                if (phone && daily) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/doictv',
                        data: {
                            phone: phone,
                            daily: daily,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire(response.message);
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    });
                }
            });
            $('#doipass-btn').click(function (e) {
                e.preventDefault();
                var phone = $('#doipass-user').val();
                var pass = $('#doipass-pass').val();
                if (phone && pass) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/doipass',
                        data: {
                            phone: phone,
                            pass: pass,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire(response.message);
                                $('#doipass-user').val('');
                                $('#doipass-pass').val('');
                            } else {
                                Swal.fire(response.message);
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    });
                }
            });
            $('#delete-btn').click(function (e) {
                e.preventDefault();
                var phone = $('#delete-user').val();
                if (phone) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/deleteU',
                        data: {
                            phone: phone,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire(response.message);
                                $('#delete-user').val('');
                            } else {
                                Swal.fire(response.message);
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    });
                }
            });
            // $('.edit-momo').click(function (e) {
            //     e.preventDefault();
            //     const name_bank = $('#edit-momo-name_bank').val();
            //     const name = $('#edit-momo-name').val();
            //     const info = $('#edit-momo-info').val();
            //     let bank = $('#bank');
            //     // bank = bank.files;
            //     console.log(bank);
            //     // sendRequestBank(name_bank, name, info, 'momo');
            // });
            // $('.edit-banking').click(function (e) {
            //     e.preventDefault();
            //     const name_bank = $('#edit-banking-name_bank').val();
            //     const name = $('#edit-banking-name').val();
            //     const info = $('#edit-banking-info').val();
            //     sendRequestBank(name_bank, name, info, 'bank');
            // });

            $('#edit-bank').submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                const name_bank = $('#edit-banking-name_bank').val();
                const name = $('#edit-banking-name').val();
                const info = $('#edit-banking-info').val();
                const bank = $('#bank')[0].files[0];
                formData.append('typer', 'bank');
                formData.append('name_bank', name_bank);
                formData.append('name', name);
                formData.append('info', info);
                formData.append('bank', bank);
                $.ajax({
                    url: '/admin/manager/settings/bank',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'success'
                        );
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'false'
                        );
                    },
                });
            });

            $('#edit-momo').submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                const name_bank = $('#edit-banking-name_bank').val();
                const name = $('#edit-banking-name').val();
                const info = $('#edit-banking-info').val();
                const momo = $('#momo')[0].files[0];
                formData.append('typer', 'momo');
                formData.append('name_bank', name_bank);
                formData.append('name', name);
                formData.append('info', info);
                formData.append('momo', momo);
                $.ajax({
                    url: '/admin/manager/settings/bank',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'success'
                        );
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'false'
                        );
                    },
                });
            });

            $('.telegram').click(function (e) {
                e.preventDefault();
                const telegram = $('#telegram').val();
                const cskh = $('#cskh').val();
                const myapp_web = $('#myapp_web').val();
                const notice = $('#notice').val();
                $.ajax({
                    type: 'POST',
                    url: '/admin/manager/settings/cskh',
                    data: {
                        telegram: telegram,
                        cskh: cskh,
                        myapp_web: myapp_web,
                        notice: notice,
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire(
                                'Good job!',
                                'You clicked the button!',
                                'success'
                            );
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Đang rỗng hoặc không đúng định dạng',
                            });
                        }
                    },
                });
            });

            $('#vip-btn').click(function (e) {
                e.preventDefault();
                let id_user = $('#id_user_vip').val();
                let level_vip = $('#level_vip').val();
                if (id_user && level_vip) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/level_vip',
                        data: {
                            id_user,
                            level_vip,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire('Good job!', '初始化成功', 'success');
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '用户 ID 不存在',
                                });
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '请输入完整信息',
                    });
                }
            });

            $('#buff-username').click(function (e) {
                e.preventDefault();
                let id_user = $('#buff-id').val().trim();
                let buff_acc = $('#buff-acc').val().trim();
                let money_value = $('#buff-money').val().trim();
                if (id_user && buff_acc && money_value) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/manager/settings/buff',
                        data: {
                            id_user: id_user,
                            buff_acc: buff_acc,
                            money_value: money_value,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire('Good job!', '初始化成功', 'success');
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '用户 ID 不存在',
                                });
                            }
                        },
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '请输入完整信息',
                    });
                }
            });
        </script>
    </body>
</html>
