<div data-v-a9660e98="" class="box">
    <div
        data-v-a9660e98=""
        class="mark-box c-row c-row-middle-center"
        style="display: none"
    >
        <span data-v-a9660e98="" class="item m-r-20">3</span
        ><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div
            data-v-a9660e98=""
            class="color-box c-row c-row-between"
            style="display: flex; flex-wrap: wrap"
        >
            <div data-v-a9660e98="" data-join="de" class="btn green">Đề</div>
            <div data-v-a9660e98="" data-join="lo2" class="btn violet">Lô</div>
            <div data-v-a9660e98="" data-join="xien2" class="btn violet">
                Xiên 2
            </div>
            <div data-v-a9660e98="" data-join="xien3" class="btn violet">
                Xiên 3
            </div>
            <div data-v-a9660e98="" data-join="xien4" class="btn violet">
                Xiên 4
            </div>
            <div data-v-a9660e98="" data-join="daude" class="btn violet">
                Đầu đề
            </div>
            <div data-v-a9660e98="" data-join="3cang" class="btn violet">
                3 càng
            </div>
            <div data-v-a9660e98="" data-join="dau" class="btn violet">Đầu</div>
            <div data-v-a9660e98="" data-join="duoi" class="btn violet">
                Đuôi
            </div>
        </div>
    </div>
    <div
        data-v-a9660e98=""
        class="number-box action m-t-10 c-row c-row-between c-flex-warp"
    ></div>
    <!-- <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">ngẫu nhiên</button>
        <div data-v-a9660e98="" class="c-row">
            <div
                data-x="1"
                data-v-a9660e98=""
                class="item active"
                style="
                    background-color: rgb(92, 186, 71);
                    color: rgb(255, 255, 255);
                "
            >
                X1
            </div>
            <div
                data-x="5"
                data-v-a9660e98=""
                class="item"
                style="
                    background-color: rgb(240, 240, 240);
                    color: rgb(0, 0, 0);
                "
            >
                X5
            </div>
            <div
                data-x="10"
                data-v-a9660e98=""
                class="item"
                style="
                    background-color: rgb(240, 240, 240);
                    color: rgb(0, 0, 0);
                "
            >
                X10
            </div>
            <div
                data-x="20"
                data-v-a9660e98=""
                class="item"
                style="
                    background-color: rgb(240, 240, 240);
                    color: rgb(0, 0, 0);
                "
            >
                X20
            </div>
            <div
                data-x="50"
                data-v-a9660e98=""
                class="item"
                style="
                    background-color: rgb(240, 240, 240);
                    color: rgb(0, 0, 0);
                "
            >
                X50
            </div>
            <div
                data-x="100"
                data-v-a9660e98=""
                class="item"
                style="
                    background-color: rgb(240, 240, 240);
                    color: rgb(0, 0, 0);
                "
            >
                X100
            </div>
        </div>
    </div> -->
    <div data-v-a9660e98="" class="btn-box c-row">
        <div
            data-v-a9660e98=""
            id="today"
            disabled
            class="item yellow"
            style="width: 100%; height: 72px"
        ></div>
        <div
            data-v-a9660e98=""
            id="number"
            disabled
            class="item green"
            style="
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                height: 72px;
            "
        ></div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <div data-v-a9660e98="" id="clear-bet" class="item yellow">
            Xoá cược
        </div>
        <button data-v-a9660e98="" id="submit-bet" class="item green">
            Đặt cược
        </button>
    </div>
</div>
