<div data-v-a9660e98="" class="tab c-row c-row-between">
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt action"> Lịch sử trò chơi </span>
    </div>
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> Đặt cược của tôi </span>
    </div>
</div>
<div data-v-a9660e98="" class="con-box">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="">
            <div data-v-a9660e98="" class="hb"></div>
        </div>
        <div data-v-a9660e98="" class="list-fooder">
            <table class="history-xsmb"></table>
        </div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div
            data-v-a9660e98=""
            class="arr c-row c-row-middle-center block-click"
        >
            <i
                data-v-a9660e98=""
                class="van-icon van-icon-arrow-left icon"
                style="font-size: 20px"
            >
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i
                data-v-a9660e98=""
                class="van-icon van-icon-arrow icon action"
                style="font-size: 20px"
            >
                <!---->
            </i>
        </div>
    </div>
</div>
<div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="p-t-5 p-b-5" id="history-order"></div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <!---->
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i
                data-v-a9660e98=""
                class="van-icon van-icon-arrow-left icon"
                style="font-size: 20px"
            >
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i
                data-v-a9660e98=""
                class="van-icon van-icon-arrow icon action"
                style="font-size: 20px"
            >
                <!---->
            </i>
        </div>
    </div>
</div>
