<div data-v-03b808c2="" class="game-betting" id="game-betting">
  <div data-v-03b808c2="" class="content" id="truongnebeoi">
    <div data-v-03b808c2="" class="bet-box">
      <div data-v-03b808c2="" class="bet-mark" style="margin-bottom: 10px">
        <div
          data-v-03b808c2=""
          class="mark-box c-row c-row-middle-center"
          style="display: none"
        >
          <span data-v-03b808c2="" class="item m-r-20">0</span>
          <span data-v-03b808c2="" class="item m-l-20">0</span>
        </div>
        <div data-v-03b808c2="" game="1" class="bet-con">
          <div
            data-v-03b808c2=""
            class="check-box c-row c-flex-warp c-row-between list-join-total"
          >
            <div
              class="Choice_Ball_Container ui-whitespace"
              id="Game_CheckBall"
              style="padding: 0; min-height: fit-content"
            >
              <div class="gn_main_cont k3_ball_conatiner" id="gn_main_cont">
                <!--和值-->

                <div
                  id="k3hzzx"
                  class="ball_section section_cqssc"
                  style="margin-top: -18px"
                >
                  <p class="remark" style="color: #fff">
                    Đoán tổng của ba số xổ số, 3-10 là nhỏ, 11-18 là lớn.
                  </p>
                  <div class="li_ball">
                    <div class="ui-row-flex">
                      <div class="ui-col ui-col-4 line-box">
                        <ul class="ball_list_ul list-ball-game1">
                          <!-- <li class="ball_item">
                            <a
                              playid="k3hzbig"
                              ball-type="k3hzzx"
                              ball-number="大"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="1.980"
                            >
                              <b>Lớn</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                  font-size: 14px;
                                "
                              >
                                1.980
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hzsmall"
                              ball-type="k3hzzx"
                              ball-number="小"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="1.980"
                              ><b>Nhỏ</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                1.980
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hzodd"
                              ball-type="k3hzzx"
                              ball-number="单"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="2.100"
                              ><b>đơn</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                2.100
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hzeven"
                              ball-type="k3hzzx"
                              ball-number="双"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="2.100"
                              ><b>đôi</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                2.100
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz3"
                              ball-type="k3hzzx"
                              ball-number="3"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="180.000"
                              ><b>3</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                180.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz4"
                              ball-type="k3hzzx"
                              ball-number="4"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="60.000"
                              ><b>4</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                60.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz5"
                              ball-type="k3hzzx"
                              ball-number="5"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="29.500"
                              ><b>5</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                29.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz6"
                              ball-type="k3hzzx"
                              ball-number="6"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="18.500"
                              ><b>6</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                18.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz7"
                              ball-type="k3hzzx"
                              ball-number="7"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="12.000"
                              ><b>7</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                12.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz8"
                              ball-type="k3hzzx"
                              ball-number="8"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="9.500"
                              ><b>8</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                9.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz9"
                              ball-type="k3hzzx"
                              ball-number="9"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="8.000"
                              ><b>9</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                8.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz10"
                              ball-type="k3hzzx"
                              ball-number="10"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="7.500"
                              ><b>10</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                7.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz11"
                              ball-type="k3hzzx"
                              ball-number="11"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="7.500"
                              ><b>11</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                7.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz12"
                              ball-type="k3hzzx"
                              ball-number="12"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="8.000"
                              ><b>12</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                8.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz13"
                              ball-type="k3hzzx"
                              ball-number="13"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="9.500"
                              ><b>13</b>
                              <p style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                9.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz14"
                              ball-type="k3hzzx"
                              ball-number="14"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="12.000"
                              ><b>14</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                12.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz15"
                              ball-type="k3hzzx"
                              ball-number="15"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="18.500"
                              ><b>15</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                18.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz16"
                              ball-type="k3hzzx"
                              ball-number="16"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="29.500"
                              ><b>16</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                29.500
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz17"
                              ball-type="k3hzzx"
                              ball-number="17"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="60.000"
                              ><b>17</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                60.000
                              </p>
                              <p></p>
                            </a>
                          </li>
                          <li class="ball_item">
                            <a
                              playid="k3hz18"
                              ball-type="k3hzzx"
                              ball-number="18"
                              href="javascript:void(0)"
                              class="ball_number"
                              peilv="180.000"
                              ><b>18</b>
                              <p class="peilv" style="color: #fff"></p>
                              <p
                                style="
                                  margin-top: -0.9rem;
                                  color: #fff;
                                  font-size: 14px;
                                "
                              >
                                180.000
                              </p>
                              <p></p>
                            </a>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-v-03b808c2="" game="2" class="bet-con num d-none">
          <p class="remark" style="color: #fff">
            Đoán tổng của ba số xổ số, 3-10 là nhỏ, 11-18 là lớn.
          </p>
          <div data-v-03b808c2="" class="title">
            Chọn 2 số phù hợp：Tỷ lệ cược
            <span data-v-03b808c2="" id="game2-hang1">1.2</span>
          </div>
          <div
            data-v-03b808c2=""
            data="chon-2-so-phu-hop"
            class="num-box purple c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" game="2_1" data="11" class="item">
              <!---->
              <div data-v-03b808c2="">11</div>
            </div>
            <div data-v-03b808c2="" game="2_1" data="22" class="item">
              <!---->
              <div data-v-03b808c2="">22</div>
            </div>
            <div data-v-03b808c2="" game="2_1" data="33" class="item">
              <!---->
              <div data-v-03b808c2="">33</div>
            </div>
            <div data-v-03b808c2="" game="2_1" data="44" class="item">
              <!---->
              <div data-v-03b808c2="">44</div>
            </div>
            <div data-v-03b808c2="" game="2_1" data="55" class="item">
              <!---->
              <div data-v-03b808c2="">55</div>
            </div>
            <div data-v-03b808c2="" game="2_1" data="66" class="item">
              <!---->
              <div data-v-03b808c2="">66</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Nếu số mở thưởng trùng với 2 số đặt cược thì sẽ trúng thưởng. (Trừ
            ba số giống nhau).
          </div>
          <div data-v-03b808c2="" class="title">
            Chọn một cặp số duy nhất：Tỷ lệ cược
            <span data-v-03b808c2="" id="game2-hang2">69.12</span>
          </div>
          <div
            data-v-03b808c2=""
            hang="1"
            data="chon-1-cap-duy-nhat"
            class="num-box red c-row c-flex-warp c-row-between"
          >
            <div
              data-v-03b808c2=""
              data="11"
              number="1"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">11</div>
            </div>
            <div
              data-v-03b808c2=""
              data="22"
              number="2"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">22</div>
            </div>
            <div
              data-v-03b808c2=""
              data="33"
              number="3"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">33</div>
            </div>
            <div
              data-v-03b808c2=""
              data="44"
              number="4"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">44</div>
            </div>
            <div
              data-v-03b808c2=""
              data="55"
              number="5"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">55</div>
            </div>
            <div
              data-v-03b808c2=""
              data="66"
              number="6"
              game="2_2"
              class="item"
            >
              <!---->
              <div data-v-03b808c2="">66</div>
            </div>
          </div>
          <div
            data-v-03b808c2=""
            hang="2"
            data="chon-1-cap-duy-nhat"
            class="num-box green c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">1</div>
            </div>
            <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">2</div>
            </div>
            <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">3</div>
            </div>
            <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">4</div>
            </div>
            <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">5</div>
            </div>
            <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
              <!---->
              <div data-v-03b808c2="">6</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Chọn ít nhất 1 cặp số giống nhau và 1 số khác nhau để đặt cược, nếu
            kết quả mở thưởng trùng với các con số đặt cược thì sẽ trúng thưởng.
          </div>
        </div>
        <div data-v-03b808c2="" game="3" class="bet-con num d-none">
          <div data-v-03b808c2="" class="title">
            Chọn 3 số duy nhất：Tỷ lệ cược
            <span data-v-03b808c2="" id="game3-diff">207.36</span>
          </div>
          <div
            data-v-03b808c2=""
            class="num-box purple c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" data="111" class="item">
              <!---->
              <div data-v-03b808c2="">111</div>
            </div>
            <div data-v-03b808c2="" data="222" class="item">
              <!---->
              <div data-v-03b808c2="">222</div>
            </div>
            <div data-v-03b808c2="" data="333" class="item">
              <!---->
              <div data-v-03b808c2="">333</div>
            </div>
            <div data-v-03b808c2="" data="444" class="item">
              <!---->
              <div data-v-03b808c2="">444</div>
            </div>
            <div data-v-03b808c2="" data="555" class="item">
              <!---->
              <div data-v-03b808c2="">555</div>
            </div>
            <div data-v-03b808c2="" data="666" class="item">
              <!---->
              <div data-v-03b808c2="">666</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            * Nếu kết quả mở thưởng trùng với 3 số đặt cược, bạn sẽ trúng
            thưởng.
          </div>
          <div data-v-03b808c2="" class="title">
            Chọn 3 số giống nhau：Tỷ lệ cược
            <span data-v-03b808c2="" id="game3-same">34.56</span>
          </div>
          <div
            data-v-03b808c2=""
            class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" class="li">
              <!---->
              <div data-v-03b808c2="">Chọn 3 số giống nhau</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Nếu các con số mở thưởng là ba con số giống nhau bất kỳ, bạn sẽ
            trúng thưởng.
          </div>
        </div>
        <div data-v-03b808c2="" game="4" class="bet-con num d-none">
          <div data-v-03b808c2="" class="title">
            Chọn 3 số khác nhau：Tỷ lệ cược
            <span data-v-03b808c2="" id="game4-3">34.56</span>
          </div>
          <div
            data-v-03b808c2=""
            class="num-box purple c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" data="1" class="item">
              <!---->
              <div data-v-03b808c2="">1</div>
            </div>
            <div data-v-03b808c2="" data="2" class="item">
              <!---->
              <div data-v-03b808c2="">2</div>
            </div>
            <div data-v-03b808c2="" data="3" class="item">
              <!---->
              <div data-v-03b808c2="">3</div>
            </div>
            <div data-v-03b808c2="" data="4" class="item">
              <!---->
              <div data-v-03b808c2="">4</div>
            </div>
            <div data-v-03b808c2="" data="5" class="item">
              <!---->
              <div data-v-03b808c2="">5</div>
            </div>
            <div data-v-03b808c2="" data="6" class="item">
              <!---->
              <div data-v-03b808c2="">6</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Chọn 3 số trở lên, Ba số trong kết quả mở thưởng là các số khác
            nhau, nếu trùng với số đã chọn thì sẽ trúng thưởng.
          </div>
          <div data-v-03b808c2="" class="title">
            Chọn 3 số liên tiếp：Tỷ lệ cược
            <span data-v-03b808c2="" id="game4-consec">8.64</span>
          </div>
          <div
            data-v-03b808c2=""
            class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" class="li">
              <!---->
              <div data-v-03b808c2="">Chọn 3 số liên tiếp</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Nếu các con số mở thưởng là ba số liên tiếp bất kỳ thì trúng
            thưởng.
          </div>
          <div data-v-03b808c2="" class="title">
            Chọn 2 số khác nhau：Tỷ lệ cược
            <span data-v-03b808c2="" id="game4-2">6.91</span>
          </div>
          <div
            data-v-03b808c2=""
            class="num-box purple c-row c-flex-warp c-row-between"
          >
            <div data-v-03b808c2="" data="1" class="item">
              <!---->
              <div data-v-03b808c2="">1</div>
            </div>
            <div data-v-03b808c2="" data="2" class="item">
              <!---->
              <div data-v-03b808c2="">2</div>
            </div>
            <div data-v-03b808c2="" data="3" class="item">
              <!---->
              <div data-v-03b808c2="">3</div>
            </div>
            <div data-v-03b808c2="" data="4" class="item">
              <!---->
              <div data-v-03b808c2="">4</div>
            </div>
            <div data-v-03b808c2="" data="5" class="item">
              <!---->
              <div data-v-03b808c2="">5</div>
            </div>
            <div data-v-03b808c2="" data="6" class="item">
              <!---->
              <div data-v-03b808c2="">6</div>
            </div>
          </div>
          <div data-v-03b808c2="" class="des">
            *Chọn từ 2 số trở lên, hai số trong kết quả mở thưởng là hai số khác
            nhau, trùng với số đã chọn thì trúng thưởng.
          </div>
        </div>
      </div>
      <div data-v-03b808c2="" class="bet-tab">
        <ul data-v-03b808c2="" class="c-row c-row-between">
          <li data-v-03b808c2="" game="1" class="item action block-click">
            Tổng số
          </li>
          <li data-v-03b808c2="" game="2" class="item">2 số trùng</li>
          <li data-v-03b808c2="" game="3" class="item">3 số trùng</li>
          <li data-v-03b808c2="" game="4" class="item">Khác số</li>
        </ul>
      </div>
    </div>
  </div>
</div>
