<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Macau</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <!-- <link rel="shortcut icon" href="/images/17-49-48-625.png" type="image/x-icon" /> -->
    <link href="/css/dark.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .mian[data-v-7aa0f84a] {
            background-color: #fbfcfd;
        }

        .mian .bank[data-v-7aa0f84a] {
            padding: 0.4rem;
        }

        .mian .bank .box[data-v-7aa0f84a] {
            background: #fff;
            box-shadow: 0 0.08rem 0.69333rem 0.10667rem #f1f2f5;
            border-radius: 0.26667rem;
            padding: 0.4rem;
        }

        .mian .bank .box .item[data-v-7aa0f84a] {
            margin-bottom: 0.26667rem;
        }

        .mian .bank .box .item .lab[data-v-7aa0f84a] {
            font-size: 0.4rem;
            margin-bottom: 0.26667rem;
        }

        .mian .bank .box .item .input .ipt[data-v-7aa0f84a] {
            width: 100%;
            padding: 0 0.4rem;
            height: 0.93333rem;
            line-height: 0.93333rem;
            border-radius: 0.13333rem;
            border: 0.05333rem solid #faa09d;
        }

        .mian .bank .bank-btn .btn[data-v-7aa0f84a] {
            height: 1.01333rem;
            width: 60%;
            box-shadow: 0 0 0.21333rem 0.02667rem rgba(92, 186, 71, 0.72);
        }
    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-7aa0f84a="" class="mian">
            <div data-v-106b99c8="" data-v-7b283485="" class="navbar" style="background-color: #da3a3f;">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <img data-v-03b808c2="" data-v-106b99c8="" src="/images/venetian/icon-back.png"
                            class="navbar-back" style="width: 8px; height: 14px;" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Thêm thẻ ngân hàng</div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-7b283485="" data-v-106b99c8="" class="c-row">
                        <img data-v-7b283485="" data-v-106b99c8="" src="/images/audio.webp" class="audio" />
                    </div>
                </div>
            </div>

            <div data-v-7aa0f84a="" class="bank">
                <div data-v-7aa0f84a="" class="box">
                    <div data-v-7aa0f84a="" class="c-row m-b-10 c-row-middle">
                        <div data-v-7aa0f84a="" class="van-image" style="width: 40px; height: 40px">
                            <img src="/images/pay_icon_debitcard_red.webp" class="van-image__img" />
                        </div>
                        <div data-v-7aa0f84a="" class="p-l-15">
                            Thêm thẻ ngân hàng
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">
                            Tên ngân hàng
                        </div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Cần thiết điền"
                                oninput="value=value.replace(/[^a-zA-Z\s+$]/g,'').toUpperCase()" class="ipt" />

                            <!-- <select
                                    data-v-7aa0f84a=""
                                    type="text"
                                    class="ipt"
                                    defaultValue="VietcomBank"
                                >
                                    <option value="VietcomBank">
                                        Ngân hàng ngoại thương Việt Nam
                                        (VietcomBank)
                                    </option>
                                    <option value="BIDV">
                                        Ngân hàng Đầu tư và Phát triển VN (BIDV)
                                    </option>
                                    <option value="Vietinbank">
                                        Ngân hàng Công thương VN (Vietinbank)
                                    </option>
                                    <option value="Agribank">
                                        Ngân hàng Nông nghiệp&PT Nông thôn VN
                                        (Agribank)
                                    </option>
                                    <option value="MB">
                                        Ngân hàng Quân Đội (MB)
                                    </option>
                                    <option value="VPBANK">
                                        Ngân hàng Việt Nam Thịnh Vượng (VPBANK)
                                    </option>
                                    <option value="SHB">
                                        Ngân hàng Sài Gòn Hà Nội (SHB)
                                    </option>
                                    <option value="TPBANK">
                                        Ngân hàng Tiên Phong (TPBANK)
                                    </option>
                                    <option value="Techcombank">
                                        Ngân hàng Kỹ thương Việt Nam
                                        (Techcombank)
                                    </option>
                                    <option value="Maritimebank">
                                        Ngân hàng Hàng hải Việt Nam (Maritime
                                        bank)
                                    </option>
                                    <option value="LIENVIETPOSTBANK">
                                        Ngân hàng Bưu điện Liên Việt (LIEN VIET
                                        POST BANK)
                                    </option>
                                    <option value="ACB">
                                        Ngân hàng Á Châu (ACB)
                                    </option>
                                    <option value="SHINHANBANK">
                                        Ngân hàng Shinhan Việt Nam (SHINHANBANK)
                                    </option>
                                </select> -->
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">
                            Tên chủ tài khoản
                        </div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Cần thiết điền"
                                oninput="value=value.replace(/[^a-zA-Z\s+$]/g,'').toUpperCase()" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">
                            Số tài khoản
                        </div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="number" placeholder="Cần thiết điền"
                                oninput="value=value.replace(/[^\d]/g,'')" class="ipt" />
                        </div>
                    </div>
                    <!--
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Thành phố</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Cần thiết điền" class="ipt" />
                        </div>
                    </div>
                   
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Email</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Cần thiết điền" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Số điện thoại</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Cần thiết điền" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Tỉnh</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Tỉnh" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Chi nhánh</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" maxlength="10" type="text" placeholder="Chi nhánh" class="ipt" />
                        </div>
                    </div>
                    -->
                </div>
                <div data-v-7aa0f84a="" class="c-row c-row-center m-t-20 bank-btn">
                    <button data-v-7aa0f84a=""
                        class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                        style="
                                color: rgb(255, 255, 255);
                                background: rgb(92, 186, 71);
                                border-color: rgb(92, 186, 71);
                            ">
                        <div data-v-7aa0f84a="" class="van-button__content">
                            <span data-v-7aa0f84a="" class="van-button__text">
                                Thêm thẻ ngân hàng
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-7aa0f84a="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass(
                    'v-enter-active v-enter-to'
                );
                $('.msg .msg-content').addClass(
                    'v-leave-active v-leave-to'
                );
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('button').click(function (e) {
            e.preventDefault();
            let name_bank = $('.ipt:eq(0)').val().trim();
            let name_user = $('.ipt:eq(1)').val().trim();
            let stk = $('.ipt:eq(2)').val().trim();
            // let tp = $('.ipt:eq(3)').val().trim();
            // let email = $('.ipt:eq(4)').val().trim();
            // let sdt = $('.ipt:eq(5)').val().trim();
            // let tinh = $('.ipt:eq(6)').val().trim();
            // let chi_nhanh = $('.ipt:eq(7)').val().trim();
            if (name_bank && name_user && stk) {
                //&& tp && email && sdt && tinh && chi_nhanh) {
                $.ajax({
                    type: 'POST',
                    url: '/api/webapi/addBank',
                    data: {
                        name_bank: name_bank,
                        name_user: name_user,
                        stk: stk,
                        // tp: tp,
                        // email: email,
                        // sdt: sdt,
                        // tinh: tinh,
                        // chi_nhanh: chi_nhanh
                    },
                    dataType: 'json',
                    success: function (response) {
                        //console.log(response);
                        alertMess(response.message, $(this));
                        if (response.status == true) {
                            setTimeout(() => {
                                window.location.href = '/wallet';
                            }, 1000);
                        }
                    },
                });
            } else {
                alertMess('Vui lòng nhập đầy đủ thông tin', $(this));
            }
        });
    </script>
</body>

</html>