<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Macau</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-4.css" rel="stylesheet" />
    <!-- <link rel="shortcut icon" href="/images/17-49-48-625.png" type="image/x-icon" /> -->
    <link href="/css/dark.css" rel="stylesheet" />
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-67caa467="" class="mian">
            <div data-v-106b99c8="" data-v-67caa467="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">NẠP TIỀN</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-67caa467="" class="selectBox">
                <div data-v-67caa467="" class="colorBox"></div>
                <div data-v-67caa467="" class="txtBox c-row c-row-middle">
                    <div data-v-67caa467="" class="c-row c-row-middle">
                        <div data-v-67caa467="" class="money">
                            <!---->
                            <div data-v-67caa467=""></div>
                        </div>
                        <div data-v-67caa467="" class="van-image img m-l-10" style="width: 18px; height: 18px">
                            <img src="/images/reload.png" class="van-image__img" />
                        </div>
                    </div>
                    <div data-v-67caa467="" class="icon"></div>
                </div>
                <!---->
                <div class="content">
                    <h2 class="content-title">
                        VUI LÒNG LIÊN HỆ CHĂM SÓC KHÁCH HÀNG ĐỂ ĐƯỢC HƯỚNG
                        DẪN VÀ NHẬN NHIỀU ƯU ĐÃI HƠN
                    </h2>
                    <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/keFuMenu'">
                        <div data-v-21f3500a="" class="c-row c-row-middle">
                            <img data-v-21f3500a="" width="24px" height="24px" src="/images/s5.png" class="img" /><span
                                data-v-21f3500a="" class="name">Chăm sóc khách hàng</span>
                        </div>
                        <div data-v-21f3500a="" class="c-row c-row-middle">
                            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="
                                        color: rgb(84, 94, 104);
                                        font-size: 20px;
                                    ">
                                <!---->
                            </i>
                        </div>
                    </div>
                </div>
            </div>

            <div data-v-7692a079="" data-v-67caa467="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $('.Loading').fadeOut(50);
    </script>
</body>

</html>