<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">lịch sử đặt cược Wingo</h3>
            <div class="card-tools">
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                    title="Collapse"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                    title="Remove"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block; overflow-y: hidden">
            <table class="table table-striped projects" id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Giai đoạn</th>
                        <th class="text-center">Tiền Cược</th>
                        <th class="text-center">Thắng/Thua</th>
                        <th class="text-center">BET</th>
                        <th class="text-center">Loại</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Thời gian</th>
                    </tr>
                </thead>
                <tbody id="list-bet"></tbody>
            </table>
        </div>
        <nav
            aria-label="Page navigation example"
            style="margin-top: 20px; display: flex; justify-content: center"
        >
            <ul class="pagination table1">
                <li class="page-item previous" id="previousBet">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex">
                    <li class="page-item">
                        <a class="page-link active text-white" id="text-bet"
                            >1</a
                        >
                    </li>
                </div>
                <li class="page-item next" id="nextBet">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">lịch sử đặt cược K5D</h3>
            <div class="card-tools">
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                    title="Collapse"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                    title="Remove"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block; overflow-y: hidden">
            <table class="table table-striped projects" id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Giai đoạn</th>
                        <th class="text-center">Tiền Cược</th>
                        <th class="text-center">Thắng/Thua</th>
                        <th class="text-center">BET</th>
                        <th class="text-center">Loại</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Thời gian</th>
                    </tr>
                </thead>
                <tbody id="list-bet-k5"></tbody>
            </table>
        </div>
        <nav
            aria-label="Page navigation example"
            style="margin-top: 20px; display: flex; justify-content: center"
        >
            <ul class="pagination table1">
                <li class="page-item previous" id="previousBetk5">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex">
                    <li class="page-item">
                        <a class="page-link active text-white" id="text-bet-k5"
                            >1</a
                        >
                    </li>
                </div>
                <li class="page-item next" id="nextBetk5">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">lịch sử đặt cược K3</h3>
            <div class="card-tools">
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                    title="Collapse"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                    title="Remove"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block; overflow-y: hidden">
            <table class="table table-striped projects" id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Giai đoạn</th>
                        <th class="text-center">Tiền Cược</th>
                        <th class="text-center">Thắng/Thua</th>
                        <th class="text-center">BET</th>
                        <th class="text-center">Loại</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Thời gian</th>
                    </tr>
                </thead>
                <tbody id="list-bet-k3"></tbody>
            </table>
        </div>
        <nav
            aria-label="Page navigation example"
            style="margin-top: 20px; display: flex; justify-content: center"
        >
            <ul class="pagination table1">
                <li class="page-item previous" id="previousBetk3">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex">
                    <li class="page-item">
                        <a class="page-link active text-white" id="text-bet-k3"
                            >1</a
                        >
                    </li>
                </div>
                <li class="page-item next" id="nextBetk3">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">lịch sử đặt cược baccarat</h3>
            <div class="card-tools">
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                    title="Collapse"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                    title="Remove"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block; overflow-y: hidden">
            <table class="table table-striped projects" id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Mã game</th>
                        <th class="text-center">Tiền Cược</th>
                        <th class="text-center">Thanh toán</th>
                        <th class="text-center">Doanh số</th>
                        <th class="text-center">Vòng cược</th>
                        <th class="text-center">Thời gian</th>
                    </tr>
                </thead>
                <tbody id="list-bet-baccarat"></tbody>
            </table>
        </div>
        <nav
            aria-label="Page navigation example"
            style="margin-top: 20px; display: flex; justify-content: center"
        >
            <ul class="pagination table1">
                <li class="page-item previous" id="previousBetBaccarat">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex">
                    <li class="page-item">
                        <a
                            class="page-link active text-white"
                            id="text-bet-baccarat"
                            >1</a
                        >
                    </li>
                </div>
                <li class="page-item next" id="nextBetBaccarat">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
