<div data-v-03b808c2="" class="game-betting" id="game-betting">
  <div data-v-03b808c2="" class="content" id="truongnebeoi">
    <div data-v-03b808c2="" class="bet-box">
      <div data-v-03b808c2="" class="bet-mark" style="margin-bottom: 10px">
        <div
          data-v-03b808c2=""
          class="mark-box c-row c-row-middle-center"
          style="display: none"
        >
          <span data-v-03b808c2="" class="item m-r-20">0</span>
          <span data-v-03b808c2="" class="item m-l-20">0</span>
        </div>
        <div data-v-03b808c2="" game="1" class="bet-con">
          <div
            data-v-03b808c2=""
            class="check-box c-row c-flex-warp c-row-between list-join-total"
          >
            <div
              class="Choice_Ball_Container ui-whitespace"
              id="Game_CheckBall"
              style="padding: 0; min-height: fit-content"
            >
              <div class="li_ball">
                <div class="ui-row-flex">
                  <div class="ui-col ui-col-4 line-box">
                    <ul
                      class="ball_list_ul list-ball-game1"
                      id="list-ball-admin "
                    ></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-v-03b808c2="" game="2" class="bet-con num d-none">
          <ul class="ball_list_ul list-ball-game2" id="list-ball-admin">
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="1 Hàng"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>1 Hàng</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="2 Hàng"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>2 Hàng</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
          </ul>
        </div>
        <div data-v-03b808c2="" game="3" class="bet-con num d-none">
          <ul class="ball_list_ul list-ball-game3" id="list-ball-admin">
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="Giống nhau"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>Giống</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="Khác nhau"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>Khác</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
          </ul>
        </div>
        <div data-v-03b808c2="" game="4" class="bet-con num d-none">
          <ul class="ball_list_ul list-ball-game4" id="list-ball-admin">
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="3 Khác"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>3 Khác</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="Liên tiếp"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>Liên tiếp</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
            <li class="ball_item">
              <a
                playid="k3hzbig"
                ball-type="k3hzzx"
                ball-number="2 Khác"
                href="javascript:void(0)"
                class="ball_number"
                peilv="1.980"
              >
                <b>2 Khác</b>
                <p class="peilv" style="color: #fff"></p>
                <p
                  style="
                    margin-top: -0.9rem;
                    color: #fff;
                    font-size: 14px;
                    font-size: 14px;
                  "
                >
                  1.980
                </p>
                <p></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div data-v-03b808c2="" class="bet-tab">
        <ul data-v-03b808c2="" class="c-row c-row-between">
          <li data-v-03b808c2="" game="1" class="item action block-click">
            Tổng số
          </li>
          <li data-v-03b808c2="" game="2" class="item">2 số trùng</li>
          <li data-v-03b808c2="" game="3" class="item">3 số trùng</li>
          <li data-v-03b808c2="" game="4" class="item">Khác số</li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
