<div
  data-v-03b808c2=""
  id="popup-cuatruong-admin"
  class="van-popup van-popup--round van-popup--bottom pop-total"
  style="
    position: fixed;
    bottom: 400px;
    width: 100%;
    display: none;
    left: auto;
    box-shadow: rgba(63, 69, 83, 0.3) 0px -10px 20px 0px;
    z-index: 2004;
    transform: translateY(400px);
    transition: transform 0.5s, -webkit-transform 0.5s;
  "
>
  <div data-v-03b808c2="" class="betting-mark" style="padding: 30px">
    <div class="content-main-popup"></div>
    <div
      data-v-03b808c2=""
      class="foot c-row"
      style="display: flex; gap: 10px; border-radius: 10px; margin-top: 10px"
    >
      <div
        data-v-03b808c2=""
        class="left canned-popup"
        style="
          background-color: red;
          width: 50%;
          padding: 10px;
          border-radius: 10px;
          text-align: center;
        "
      >
        Hủy
      </div>
      <div
        data-v-03b808c2=""
        class="right c-row c-row-middle-center confirm-change-raito"
        style="
          background-color: green;
          width: 50%;
          padding: 10px;
          border-radius: 10px;
          text-align: center;
        "
      >
        <span data-v-03b808c2="" class="p-r-5" style="text-align: center"
          >Xác nhận</span
        >

        <span class="info-bet" xvalue="1" money="1000"></span>
      </div>
    </div>
  </div>
</div>
