<div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green">Màu Xanh Lá<img
                    src="/images/aoxanhla.png" alt=""></button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet">Màu Tím<img
                    src="/images/aotim.png" alt=""></button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn yellow">Màu Vàng<img
                    src="/images/aovang.png" alt=""></button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center" style="border: 0.02667rem solid #d3d16d;">
                <span data-v-a9660e98="" class="txt"
                    style="background-image: linear-gradient(to bottom,#ffc511,#eb43dd)!important; color: #fff;">0</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center" style="border: 0.02667rem solid #d3d16d;">
                <span data-v-a9660e98="" class="txt" style="background-color: #ffc511;color: #fff;">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center" style="border: 0.02667rem solid #d3d16d;">
                <span data-v-a9660e98="" class="txt" style="background-color: #ffc511;color: #fff;">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center" style="border: 0.02667rem solid #d3d16d;">
                <span data-v-a9660e98="" class="txt" style="background-color: #ffc511;color: #fff;">6</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center" style="border: 0.02667rem solid #d3d16d;">
                <span data-v-a9660e98="" class="txt" style="background-color: #ffc511;color: #fff;">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background-color: rgb(92, 186, 71); color: rgb(255, 255, 255)">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X100
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow">Lớn</button>
        <button data-v-a9660e98="" data-join="n" class="item green">Nhỏ</button>
    </div>
</div>